<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136355114542-9l9q5lia1fco3j9bgmeufh3325dj1qan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136355114542-9l9q5lia1fco3j9bgmeufh3325dj1qan</string>
	<key>API_KEY</key>
	<string>AIzaSyBxJ2HeQvk7GmSk_CrISxV0dH99D8eTa6w</string>
	<key>GCM_SENDER_ID</key>
	<string>136355114542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaPro</string>
	<key>PROJECT_ID</key>
	<string>insta-pro-essa-wiam</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-pro-essa-wiam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136355114542:ios:73971700a34101574b79bf</string>
</dict>
</plist>